.card {
  /* Add shadows to create the "card" effect */
  /* transition: 0.3s; */
  border-width: 0px;
  margin: 5px;
  width: 110px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 15px;
}

.cardLabelText {
  margin: 10px 0 15px 10px;
}

.cardLabelText > p {
  margin: 0;
}

.scorecard {
  align-items: center;
  text-align: center;
  margin-left: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  width: auto;
  height: auto;
}

.scorecard > p {
  margin: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px ;
}

.list {
  padding: 0;
  margin: 0;
}