.card {
  /* Add shadows to create the "card" effect */
  /* transition: 0.3s; */
  border-width: 0px;
  margin: 5px;
  width: 100px;
  height: 100px;
  text-align: left;
  font-size: 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px ;
}

.list {
  padding: 0;
  margin: 0;
}