.card {
  margin: 5px;
  width: 195px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  border-width: 0;
  text-align: left;
}

.cardLabelText {
  margin: 10px 0 15px 10px;
}

.cardLabelText > p {
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.list {
  padding: 0;
  margin: 0;
}