.settingsRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.radioButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fonts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.fontSelector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.colorbox {
  height: 30px;
  width: 30px;
  margin: 0px 13px 0px 0;
}

.text {
  font-size: 20px;
}

