.sidebar {
  height: 100%;
  width: 20%;
  min-width: 500px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #EBF2F3;
}

.preview {
  padding: 0px 10px 0px 10px;
  margin: 0 5px 0 5px;
  overflow: auto;
  max-height: 70%;
}

.colorBox {
  width: 24px;
  height: 24px;
}

.textRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 10px;
}

.textRow > p {
  margin: 0;
  padding-left: 5px;
  font-size: 18px;
  font-weight: 500;
}